/*Grid*/
.grid-container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 20% 65% 15%;
    gap: 0px 0px;
  }
  
  .centro { grid-area: 1 / 2 / 4 / 3; }
  
  .contenido { 
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 20% 20%;
    gap: 0px 0px;
    grid-template-areas:
    "inicio"
    "eventos"
    "galeria"
    "contactar";
    grid-area: 2 / 2 / 3 / 3;
}
  
  .footer { 
    grid-area: 3 / 2 / 4 / 3;
    border-bottom-left-radius: 3.6% 50%;
    border-bottom-right-radius: 3.6% 50%;
    background-color: #ffc71f; 
    margin: 0% 0% 10%;
}

  /*División de las distintas partes del encabezado*/
  .encabezado {
    display: grid;
    grid-template-columns: 31% 23% 23% 23%;
    grid-template-rows: 100%;
    gap: 0px 0px;
    grid-template-areas:
    "logo-imagen eventos-imagen galeria-imagen contactar-imagen";
    grid-area: 1 / 2 / 2 / 3;
  }
  /*Acá de paso defino las propiedades de las imagenes en el encabezado.*/
  #logo-imagen { 
    grid-area: logo-imagen;
    width: 80%;
    height: 80%;
    /*display:block;*/
    margin:5%;   

}
  
  #eventos-imagen { 
    grid-area: eventos-imagen; 
    width: 55%;
    height: auto;
    /*display:block;*/
    margin:auto;
    margin-left: 15%;   
}
  
  #galeria-imagen { 
    grid-area: galeria-imagen;
    width: 50%;
    height: 90%;
    /*display:block;*/
    margin:5% 15%;
    margin-left: 15%;
    margin-bottom: 1%;  
}
  
  #contactar-imagen { 
    grid-area: contactar-imagen;
    width: 90%;
    height: 80%;
    /*display:block;*/
    margin-top:5%;   
}
  


/*Estilos de las partes iniciales de la página (body, centro, encabezado, y contenido)*/
body{
   background-color: #f5d99b;
   overflow-wrap:normal; 
}
*{
    font-family:'Roboto', Arial, Helvetica sans-serif;
}
.contenido{
    border:0.3em solid #9a9a9a;
    background-color: #f6f6f6;
    padding:5%;
    /*margin-top: 10%;*/
    
}
.encabezado{
    background-color: #ffc71f;
    border: 0.2em solid #ff9900;
    /*position: fixed;
    width: 78.1%;
    height: auto;
    margin:0%;
    overflow: hidden;*/
}


/*
Acá se definen los distintos estilos de las secciones de la página: 
Inicio: Contiene todo lo relacionado a información e historia del merendero.
Eventos: Abarcamos todo lo que son las fechas y lo relacionado a eventos especiales.
Galería: Las fotos que tomamos en los eventos y demás.
Contactar: Acá damos información de cómo nos podrán ayudar las personas para mantener el merendero.
*/

#inicio { 
    grid-area: inicio;
}
#eventos { 
    grid-area: eventos; 
}
#galeria { 
    grid-area: galeria; 
}
#contactar { 
    grid-area: contactar;

}



/*Textos*/


.textos{
    padding: 3em;
    margin: 2em;
    background:rgb(213, 213, 213) ;
    border-radius: 20px;
    box-shadow:0.2em 0.2em 0.09em rgba(79, 79, 79, 0.631);
    overflow: hidden;
}
.titulos{
    color: #f2ff00;
    margin: 3em 2em 1em;
    font-style: italic;
    text-shadow:0.1em 0.1em 0.09em rgba(0, 0, 0, 0.318);
    text-decoration-line: underline;
}



/*Imagenes*/
#foto-principal{
    display:block;
    margin:auto;
    width: 50%;
    height: auto;
    margin-top: 5%;
    border-radius: 20px;
    box-shadow:3px 3px 1px rgba(175, 175, 175, 0.631);

}















/*Botón de whattsapp*/
.whatsapp {
    position: fixed;
    width: 5em;
    height: 5em;
    bottom: 18%;
    right: 3%;
    background-color: #25d366;
    border-radius: 90%;

    z-index: 100;
    box-shadow:0.1em 0.1em 0.3em rgba(175, 175, 175, 0.631);
   
}
#wpicon{
    width: 100%;
    height: auto;
}






















