*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

.galeria{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.galeria h1{
    text-align: center;
    margin:20px 0 15px 0;
    font-weight: 300;
}

.contenedor-imagenes{
    display:flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius:3px;
}

.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height:250px;
    margin-bottom:5px;
    box-shadow: 0px 0px 5px 0px rgb(255, 164, 103)
}

.imagen img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
}

.overlay h3{
    color: white;
    font-weight: 300;
    font-size:30px;
    position: absolute;
    top: 50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.imagen:hover .overlay{
    height:100%;
    cursor: pointer;
}

.modal{
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.modal h3{
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 15px 0;
}

.imagen-completa a{
    color: white;
    font-size: 40px;
    text-decoration: none;
    margin: 0 10px;
}

.imagen-completa a:nth-child(2){
    margin: 0;
    height: 100%;
    flex-shrink: 2;
}

.imagen-completa img{
    width: 800px;
    height: 100%;
    max-width: 100%;
    border: solid white 1px;
    box-sizing: border-box;
}

.cerrar{
    display: block;
    background-color: red;
    width: 25px;
    height: 25px;
    margin: 15px auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: white;
    padding: 2px;
    line-height: 25px;
}

